.question
  .text.ico
    =raw collection.excerpt_for(h(question.text), :limit => 0)
    .meta= l(question.created_at)

  .answer.ico
    =raw collection.excerpt_for(h(question.answer), :limit => 0)
    .meta= l(question.answered_at)

  .actions
    = link_to t('.destroy'), question_path(question.id), 'data-method' => 'delete', 'data-confirm' => t('.destroy_confirmation')
    &sdot;
    = link_to t('.show', :id => question.id), question_path(question.id)