<div class="text ico">
  <%= @question.text %>
</div>

<%= simple_form_for(@question, :html => {:class => 'edit'}) do |f| %>

  <%= f.input :answer, :as => :text, :required => true %>

  <div class="actions">
    <%= f.button :submit, t("questions.answer.submit") %>
  </div>

<% end %>
