<div class="text">
  <%= @question.text %>
</div>

<%= simple_form_for(@question, :html => {:class => 'qa'}) do |f| %>

  <%= f.input :answer, :as => :text, :required => true, :input_html => {:class => 'countable'} %>

  <div class="actions">
    <%= f.button :submit, t("questions.answer.submit") %>
  </div>

<% end %>
