<%= simple_form_for(@question) do |f| %>

  <%= f.input :text, :as => :text, :input_html => {:class => 'countable'}, :required => true %>

  <div class="actions">
    <%= f.button :submit, t("questions.#{controller.action_name}.submit") %>
  </div>

<% end %>