<div class="questions queue">
  <% if @questions.blank? %>
    <div class="empty"><%= t('.empty') %></div>
  <% else %>
    <%= render :partial => 'question', :collection => @questions %>
    <%= will_paginate(@questions) %>
  <% end %>
</div>