<div class="questions search">
  <% if params.key?(:query) %>
    <% if @question.blank? %>
      <div class="empty"><%= t('.empty') %></div>
    <% else %>
      <%= render :partial => 'question', :collection => @questions %>
      <%= will_paginate(@questions) %>
    <% end %>
  <% end %>
</div>
