body, div, form { margin: 0; padding: 0; border: none; }

div#container   { width: 36em; margin-left: -18em; left: 50%; position: absolute; float: left; clear: both; }
div#header      { width: 100%; padding: 1.5em 0; }
div#content     { width: 100%; padding: 2em 0 3em 0; float: left; }
div#menu        { margin-left: 3em; }

div.text                    { width: 30em; margin: 0 3em 2em 3em;}
div.answer                  { width: 30em; margin: 0 3em 0.5em 3em;}
form                        { width: 30em; margin-left: 3em; }
form div.text               { width: 100%; margin: 0 0 0.5em 0; }
div.text textarea           { height: 8em; width: 100%;}
div.text label              { display: block; }
div.actions                 { text-align: right; color: #C7FF68; }

div.questions               { border-top: 1px dashed #202326; }
div.question                { padding: 1em 0; border-bottom: 1px dashed #202326;}
div.question div.text       { margin-bottom: 0.5em; }
div.question div.actions    { width: 30em; margin-left: 3em; text-align: left; }


body            { background: #202326; color: #fff; font: normal 100% Helvetica, Verdana, sans-serif; }
div#container   { }
div#header      { background: #282C2F; border-bottom: 1px solid #202326; }
div#content     { background: #303538; font-size: 100%; }
a               { color: #C7FF68; text-decoration: none; }
div.meta        { color: #535B61; }
div.pagination  { width: 30em; margin: 1em 2em 0 3em; text-align: center; }